/* Seulement les nouveaux styles nécessaires */

.question {
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}

.answer-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  min-width: auto;
  min-height: auto;
  transform: translate(-50%, -50%);
  font-size: 28px !important; /* Taille de base */
}

.correct {
  background: #d4edda !important;
}
.incorrect {
  background: #f8d7da !important;
}

.score-display {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.answer-label {
  font-size: 1.4rem !important;
  margin-right: 15px;
  font-weight: bolder;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
